main {
    width: 100%;
    min-width: 100%;
}

main .dashboard {
    margin: 0 20px;
    margin-top: 20px;
}

main .dashboard .header {
    height: 30px;
    background: #fff;
    border: 1px solid #ebeff6;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    padding: 5px;
}

main .dashboard .header .content .welcome,
main .dashboard .header .content .header-nav {
    display: inline-block;
}

main .dashboard .header .content .header-nav {
    display: inline-block;
    margin-left: 5%;
}

main .dashboard .header .content {
    width: 100%;
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
    font-family: 'Open Sans';
    font-size: 12px;
    color: #2D2D29;
}

main .dashboard .header .content a {
    color: #999;
    font-size: 11px;
    font-family: 'Open Sans';
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 10px;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

main .dashboard .header .content a:hover {
    text-decoration: none;
    color: #000;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

main .dashboard .header .content a span {
    margin-right: 5px;
}

main .dashboard .widget-selector {
    max-height: 500px;
    min-height: 500px;
    height: 500px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

main .dashboard .widget-selector.hidden {
    display: none;
    height: 0px;
    min-height: 0px;
    max-height: 0px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

main .dashboard .widget-selector #main {
    max-height: 500px;
    min-height: 500px;
    height: 500px;
}

main .dashboard .widget-container {
    position: relative;
    max-width: 100%;
    margin: 0 5%;
    margin-top: 10px;
}

main .dashboard .widget-container > div:not(.modal) {
    background: #fff;
    border: 1px solid rgba(0,0,0, 0.1);
    position: absolute;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    height: 230px;
    width: 230px;
}

main .dashboard .widget-container .ss-placeholder-child {
    background: transparent !important;
    border: 1px dashed rgba(0,0,0,0.2) !important;
}

main .dashboard .shader {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    display:none;
}

main .dashboard .modal {
    width: 500px;
    max-width: 500px;
    min-height: 250px;
    height:250px;
    z-index: 2;
    padding: 10px;
    padding-top: 0px;
    border-radius: 0px;
    --webkit-border-radius: 0px;
    --moz-border-radius: 0px;
    --o-border-radius: 0px;
}

main .dashboard .modal label {
    padding-left: -50px;
    width: 141px;
}

main .dashboard .modal input.pure-button {
    position: absolute;
    top: 7px;
    right: 1px;
}

main .dashboard .modal form,
main .dashboard .modal form #main,
main .dashboard .modal form #main .content {
    height: 100%;
}

main .widget-container .settings {
    height: 100%;
}

main .widget-container div.card-rectangle {
    width: 482px !important; 
    height:  230px !important;
}

main .widget-container div.card-normal {

}

main .widget-container div.card-huge {
    width: 482px !important; 
    height: 482px !important;
}

main .widget-container div.card-huge .body {
    height: 93%;
}

main .widget-container .footer {
    height: 15%; 
    border-top: 1px solid #eee;
}

main .widget-container .footer:last-child {
    padding-right: 5px;
}

main .widget-container .body {
    height:85%;
}

main .widget-container .footer .icon-padding,
main .widget-container .footer .footer-text {
    color: #999;
    border-left: 1px solid #eee;
    position: relative;
    padding: 10px;
    height: 100%;
    width: 10px;
}

main .widget-container .footer .footer-text {
    border-left: none;
    font-size: 10px;
    letter-spacing: 1px;
    font-family: 'Open Sans';
    padding-top: 5px;
    padding-left: 15px;
    margin-top: 1px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 10px;
}

main .widget-container div.card-normal .footer .footer-text {
    width: 90px;
}

main .widget-container div.card-huge .footer .footer-text,
main .widget-container div.card-rectangle .footer .footer-text {
    width: 340px;
}

main .dh-settings-container {
    margin-top: 5px;
    overflow: hidden;
    height: 100%;
    min-height: 100%;
}

main .dh-settings-container .sidebar {
    float: left;
    margin-right: 5px;
    width: 450px;
    height: 93%;
    max-height: 93%;
    overflow: hidden;
    background: #fff;
    border: 1px solid #ebeff6;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    padding: 10px;
    padding: 0px;
}

main .dh-settings-container .body-content #main .content {
    padding: 10px 20px;
    padding-left: 60px;
}

main .dh-settings-container .body-content #main .content .output {
    display: inline-block;
    margin-left: 10px;
    border: 1px solid #ebeff6;
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: .8em;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

main .dh-settings-container .body-content #main .content .output:hover {
    border-color: #129FEA;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

main .dh-settings-container .body-content #main .content .group-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

main .dh-settings-container .body-content {
    overflow:hidden;
    height: 93%;
    max-height: 93%;
    background: #fff;
    border: 1px solid rgba(0,0,0, 0.1);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
}

main .dh-settings-container .sidebar ul.menu {
    margin: 0px;
}

main .dh-settings-container .sidebar .menu li {
    cursor: pointer;
    color: #999;
    display: block;
    width: 100%;
    padding: 20px;
    margin: 0px;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

main .dh-settings-container .sidebar .menu li:hover,
main .dh-settings-container .sidebar .menu li:hover a,
main .dh-settings-container .sidebar .menu li.active,
main .dh-settings-container .sidebar .menu li.active a {
    color: #2D2D29;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

main .dh-settings-container .sidebar .menu li a {
    color: #999;
    font-size: 11px;
    font-family: 'Open Sans';
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 20px;
    text-decoration: none;
}

main .pure-button-link-xs {
    margin-top: -13px;
    margin-left: 5px;
}

main .pure-form .pure-search-alt {
    margin-top: 8px;
}

main .text-small-inline {
    margin-top: -9px !important;
}

main .installing {
    margin-left: 5px;
}