main #comments {
  height: 100%;
  padding: 10px;
}

main .comment-container .settings-row,
main .comment-container .settings-row .comment-byline {
        border-bottom: 1px solid #eee;
        padding: 10px 20px;
        color: #999;
        font-size: 11px;
        font-family: 'Open Sans';
        font-weight: 600;
        text-transform: uppercase;
}

main .comment-container .settings-row .user-avatar {
        display: table-cell;
        float: none;
        min-width: 35px;
        vertical-align: top;
}

main .comment-container .settings-row .main-comment {
        display: table-cell;
        float: none;
}

main .comment-container .settings-row .comment-byline {
        border: none;
        padding: 0px;
}

main .comment-container .settings-row .user-info {
        margin-left: 15px;
}

main .comment-container .settings-row .body {
        text-transform: none;
        font-weight: 400;
        margin-left: 15px;
        color: #2D2D2D;
}


/** Sharebox **/

main .comment-container .comment-box-main {
        min-height: 50px;
}

main .sharebox-submit  {
    background:#9eca80;
    border-radius:2px;
    float:right;
    margin-top: 5px;
    color:#fff;
    cursor:pointer;
    text-align:center;
    font-size:80%;
    font-weight:bold;
}

main #sharebox, main [id*='sharebox-'] {
    border:1px solid #ddd;
}

main [id*='sharebox-'] {
        width: 81%;
        float: left;
}

main #sharebox #a, [id*='sharebox-'] [id*='a-'] {
    padding: 10px;
    color:#000;
    position:relative;
}

main #sharebox #b, [id*='sharebox-'] [id*='b-'] {
    padding:10px;
    min-height:15px;
    cursor:text;
}

main #sharebox #close, #sharebox #textbox, [id*='sharebox-'] [id*='close-'], [id*='sharebox-'] [id*='textbox-'] {
    float:left;
}

main #sharebox #textbox,[id*='sharebox-'] [id*='textbox-'] {
    width:99%;
    min-height:20px;
    outline:none;
    min-height:50px;
}

main #sharebox #close, [id*='sharebox-'] [id*='close-'] {
    background: no-repeat url(../images/bg.png) -33px -31px;
    height: 9px;
    width: 9px;
    cursor: pointer;
    right: 11px;
    margin: 1px;
    position: absolute;
    top: 11px;
}

