main #comment {
  height: 90%;
  padding: 15px;
  overflow:hidden;
}

main #disqus_thread,
main #ciims_comments {
    padding: 10px;
}

main .comment_body {
	width: 78% !important;
}

main #ciims_comments .comment_body_inner form {
	padding: 0;
	margin: 0;
}

main #ciims_comments .comment_body_inner form input,
main #ciims_comments .comment_body_inner form a {
	font-size: 11px;
}