select, 
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
    height: 30px;
}

label {
	color: #999;
	font-size: 13px !important;
	font-family: 'Open Sans';
	font-weight: 600;
}

html, body {
	height: 100%;
	min-height: 100%;
	max-height: 100%;
}

body {
	background: #f3f5f9;
	margin: 0;
	font-family: "PT Sans Bold", Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.ui-tooltip {
  width:50px;
  text-align: center;
}

/** initial setup **/
.nano {
  position : relative;
  overflow : hidden;
}

.nano .content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}

.nano .content:focus {
  outline: thin dotted;
}

.nano .content::-webkit-scrollbar {
  visibility: hidden;
}

.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}

.nano > .pane, .nano > .pane2 {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 7px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01; 
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;  
  border-radius         : 5px;
}

.nano > .pane > .slider,.nano > .pane2 > .slider2 {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;  
  border-radius         : 3px;
}

.nano:hover > .pane, .pane.active, .pane.flashed, .nano:hover > .pane2, .pane2.active, .pane2.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}

.pure-form .pure-search {
    border: none !important;
    border-bottom: 1px solid #e5e5e5 !important;
    margin-top: 11px;
    font-size: 12px !important;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: italic;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
    -mox-box-shadow: none !important;
    -o-box-shadow: none !important;
}

.icon-legend {
  margin-top: 18px;
  margin-right: 5px;
}

.rounded-img {
    display: inline-block;
    border: solid 1px #DCDCDC;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/** Webkit Specific hacks for the preview */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {  
      -webkit-appearance: none;  
      background-color: #999;  
      height: 4px;
  }  
    
  input[type='range']::-webkit-slider-thumb {  
    -webkit-appearance: none;
      background-color: #333;  
      width: 10px;  
      height: 7px; 
  }
}

input[type="range"]::-ms-fill-lower {
  background-color: #0078e7;
}

.transparent {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: transparent;
  top: -6px;
}

.row.noItemsMessage {
  text-align: center;
  font-size: 12px;
  color: #999;
  font-style: italic;
}

.inline {
  display: inline-block;
  position: relative;
  font-size: 12px;
  color: #2d2d2d;
  line-height: 20px;
  top: -4px;
}

#spinner {
  display:none;
}

.icon-spacer {
  padding-right:5px;
}

.icon-spinner-form {
  margin-left: -7px;
}
/* ------------------------------------------
CSS TOGGLE SWITCHES (Ionuț Colceriu)
Licensed under Unlicense 
https://github.com/ghinda/css-toggle-switch
------------------------------------------ */

/* Hide by default */

.switch .slide-button,
.toggle p span {
  display: none;
}

/* Toggle Switches */

/* We can't test for a specific feature,
 * so we only target browsers with support for media queries.
 */
@media only screen {

  /* Checkbox
   */
  .toggle {
    position: relative;
    padding: 0;
    margin-left: 100px;
  }

  /* Position the label over all the elements, except the slide-button
   * Clicking anywhere on the label will change the switch-state
   */
  .toggle label {
    position: relative;
    z-index: 3;
    
    display: block;
    width: 100%;
  }

  /* Don't hide the input from screen-readers and keyboard access
   */
  .toggle input {
    position: absolute;
    opacity: 0;
    z-index: 5;
  }
  
  .toggle p {
    position: absolute;
    left: -100px;
    
    width: 100%;
    margin: 0;
    padding-right: 100px;
    
    text-align: left;
  }
  
  .toggle p span {
    font-size: 11px !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    
    display: block;
    width: 50%;
    margin-left: 100px;
    
    text-align: center;
  }
  
  .toggle p span:last-child {
    left: 50%;
  }

  .toggle .slide-button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    
    display: block;
    width: 50%;
    height: 100%;
    padding: 0;
  }

  /* Radio Switch
   */
  .switch {
    position: relative;
    padding: 0;
  }
  
  .switch input {
    position: absolute;
    opacity: 0;
  }
  
  .switch label {
    position: relative;
    z-index: 2;
    
    float: left;
    width: 50%;
    height: 100%;
    
    margin: 0;
    text-align: center;
  }

  .switch .slide-button {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1;
    
    width: 50%;
    height: 100%;
  }

  .switch input:last-of-type:checked ~ .slide-button {
    left: 50%;
  }

  /* Switch with 3 items */
  .switch.switch-three label,
  .switch.switch-three .slide-button {
    width: 33.3%;
  }

  .switch.switch-three input:checked:nth-of-type(2) ~ .slide-button { 
    left: 33.3%;
  }

  .switch.switch-three input:checked:last-of-type ~ .slide-button {
    left: 66.6%;
  }
  
  /* Switch with 4 items */
  .switch.switch-four label,
  .switch.switch-four .slide-button {
    width: 25%;
  }

  .switch.switch-four input:checked:nth-of-type(2) ~ .slide-button {  
    left: 25%;
  }
  
  .switch.switch-four input:checked:nth-of-type(3) ~ .slide-button {  
    left: 50%;
  }

  .switch.switch-four input:checked:last-of-type ~ .slide-button {
    left: 75%;
  }
  
  /* Switch with 5 items */
  .switch.switch-five label,
  .switch.switch-five .slide-button {
    width: 20%;
  }

  .switch.switch-five input:checked:nth-of-type(2) ~ .slide-button {  
    left: 20%;
  }
  
  .switch.switch-five input:checked:nth-of-type(3) ~ .slide-button {  
    left: 40%;
  }
  
  .switch.switch-five input:checked:nth-of-type(4) ~ .slide-button {  
    left: 60%;
  }

  .switch.switch-five input:checked:last-of-type ~ .slide-button {
    left: 80%;
  }

  /* Shared */
  .toggle,
  .switch {
    display: block;
    height: 30px;
  }
  
  .switch *,
  .toggle * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .switch .slide-button,
  .toggle .slide-button {
    display: block;
    
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  
  .toggle label,
  .toggle p,
  .switch label {
    line-height: 30px;
    vertical-align: middle;
  }
  
  .toggle input:checked ~ .slide-button {
    right: 50%;
  }
  
  /* Outline the toggles when the inputs are focused */
  .toggle input:focus ~ .slide-button,
  .switch input:focus + label {
    outline: 1px dotted #888;
  }
  
  /* Bugfix for older Webkit, including mobile Webkit. Adapted from:
   * http://css-tricks.com/webkit-sibling-bug/
   */
  .switch, .toggle {
    -webkit-animation: bugfix infinite 1s;
  }
  
  @-webkit-keyframes bugfix { from { position: relative; } to { position: relative; } }


  /* Standalone Themes */


  /* Candy Theme
   * Based on the "Sort Switches / Toggles (PSD)" by Ormal Clarck
   * http://www.premiumpixels.com/freebies/sort-switches-toggles-psd/
   */
   
  .candy {
    background-color: #2d3035;
    
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #191b1e;
      
    border-radius: 3px; 
    
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(255, 255, 255, 0.2);
  }

  .candy input:checked + label {
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  }
    
  .candy .slide-button {
    border: 1px solid #333;

    background-color: #70c66b;
    
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    background-image:     -ms-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    background-image:      -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    background-image:         linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
    
    border-radius: 3px;
  }

  .candy p {
    color: #333;
    
    text-shadow: none;
  }

  .candy span {
    color: #fff;
  }

  .candy.blue .slide-button {
    background-color: #0078e7;
  }

  .candy.yellow .slide-button {
    background-color: #f5e560;
  }

}