main .invite-field {
	margin-top: -33px;
	margin-bottom: 38px;
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 0;
	background: #fff;
}

main .invite-field a {
	float: right;
	margin-top: 1px;
}

main .invite-field label {
	float: left;
	padding-right: 10px;
	margin-top: 5px;
}

main .invite-field input {
	height: 20px;
	width: 50%;
}
	
