@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/7YGmE4Ls5b94ct65u07hVQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/0XxGQsSc1g4rdRdjJKZrNL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

body {
    background-image: url('../../images/install/pw_maze_black.png');
    position: static;
    left: auto;
    right: auto;
    width: 60%;
    margin: 120px auto;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.well-container {
    padding: 0px;
    padding-bottom: 10px;
}

.navbar {
    margin-bottom: 3px;
}
.breadcrumb {
    margin: 1px;
}

hr {
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
    border-bottom: 1px solid #333333;
}

.content {
    margin: 20px 10px;
    margin-top: 0px;
}

.clearfix {
    clear:both;
}

.path-field {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.input-small {
    width: 45%;
}

.yii-path {
    width: 80%;
}

@media (max-width: 900px) {
    .yii-path {
        width: 65%;
    }
}
@media (max-width: 500px)
{
    .yii-path {
        width: 53%;
    }
}
