main .container-50 {
	width: 49%;
	font-size: 14px;
}

main .container-50 h2 {
	padding-bottom: 0px;
	border-bottom: 1px solid #eee;
	font-size: 20px;
}

main .about-container a {
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

main .about-container a:hover {
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	color: #f67d42;
}

main .about-container .pure-menu-open {
	margin-bottom: -18px;
}

main .about-container dl {
	min-width: 500px;
}

main .about-container dt {
	font-weight:bold;
	display:inline-block;
	text-overflow:ellipsis;
	overflow: hidden;
	max-width: 100px;
	margin-bottom: 5px;
	min-width: 100px;
}

main .about-container dt:after {
	content: ":";
}

main .about-container dd {
	display:inline-block;
	margin-left: 5px;
	margin-bottom: 5px;
	min-width: 50%;
	max-width: 54%;
	text-overflow:ellipsis;
	overflow: hidden;
}

main .about-container .photo-container {
	width: 27%;
}

main .about-container .about-photo {
	margin: 0 auto;
	width: 100px;
	border: 1px solid #eee;
	padding: 3px;
}

main .about-container .ciims-comments .loader {
	font-size: 26px;
	text-align:center;
	margin: 0 auto;
}