/assets/*
/protected/runtime/*
.settings
.project
*sublime*
/protected/config/*
/protected/modules/*
/themes/*
!/themes/default
/protected/modules/*
!/protected/modules/admin
!/protected/modules/hybridauth
!/protected/modules/dashboard
!/protected/modules/api
!/protected/modules/install
.htaccess
/uploads/*
/install.php
*.*~
*.swp
