.AppleDouble
public_html
/assets/*
/web/assets/*
/vendor/*
/themes/*
/protected/runtime/*
/protected/assets
/protected/config/*
/protected/test/_logs
!/themes/default
/protected/modules/*
/uploads/*
/web/uploads/*
.htaccess
*.*~
*.swp
Gemfile.lock
.bundle/*
tests/_log/*
