/assets/*
/protected/runtime/*
.settings
.project
*sublime*
/protected/config/*
/protected/modules/*
/themes/*
!/themes/default
/protected/modulles/*
!/protected/modules/admin
!/protected/modules/hybridauth
!/protected/modules/dashboard
.htaccess
/uploads/*
/install.php
*.*~
*.swp
