.left {
	float:left;
}

.right {
	float:right;
}

.card .clear {
	clear:both;
}

.card .clear-right {
	clear:right;
}

.card .clear-left {
	clear:left;
}

.card .border-right {
	border-right: 2px solid #EEE;
}

.card .bold {
	font-weight:bold; 
	font-size: 18px;
	font-family:Arial,"Bitstream Vera Sans",Helvetica,Verdana,sans-serif; 
	padding-right: 5px;
}

.card .black {
	color:#777;
}

.card .green {
	color:#A7CE44;
}

.card .blue {
	color:#59A0DC;
}

.card .red {
	color:#CE4444;
}

.card .yellow {
	color:#CABF42;
}

.card .purple {
	color:#A9014B;
}

.card .orange {
	color:#FF5C00;
}

.card .nav-header.top, .well .top {
	padding-bottom: 5px;
	border-bottom: 1px solid #EEE;
}

.card ul li:first-child {
	margin-left: -30px;
}

.card ul .nav-list {
	padding-left: 0px;
}

.pagination {
	text-align:center;
}

.hidden {
	display:none;
}

blockquote.comment {
	border-left: 5px solid #CE4444;
	margin-left:50px;
}

/* ------------------------------------------------ */

body > .navbar .brand {
   padding-left: 20px; 
}

.list-view .well {
    padding: 5px 19px;
}

.list-view .well h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 5px;
    border-bottom: 1px solid #e1e1e8;
}

.list-view .items {
    clear:both;
}

.list-view .items #content-well {
    position:relative;
    min-height: 300px;
    max-height: 300px;
}

.list-view .items #content-well .content {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 165px;
    width: 100%;
}

.list-view .items #content-well .author-block .nav-header {
    padding: 0px;
    margin-top: -10px;
}

.list-view .items #content-well .footer-date {
    border-top: 1px solid #e1e1e8;
    padding-top: 8px;
    position:absolute;
    bottom: 35px;
    width: 88%;
}

.list-view .items #content-well .footer {
    border-top: 1px solid #e1e1e8;
    position:absolute;
    bottom: 0;
    margin-bottom: 10px;
    padding-top: 5px;
    width: 88%;
}

.list-view .items #content-well .footer #comment-button [class^="icon-"] {
    margin-top: 2px;
}

.list-view .items #content-well .footer #comment-button a
{
    font-weight: bold;
    color:#CE4444;
}

.list-view .sorter h4 {
    margin-top: 0px;
}
.list-view .pagination {
    clear:both;
}

#wmd-preview {
    display: none;
}

.sidebarNav .well {
    padding-top: 14px;
}

.sidebarNav .well h5 {
    margin-top: 0px;
    padding-bottom: 2px;
    border-bottom: 1px solid #e1e1e8;
}
.sidebarNav .control-group {
	margin-bottom: 10px;
}

.sidebarNav input.span12 {
	margin-bottom: 10px;
}
.image-holder {
    margin-top: -20px;
    margin-left: 5%;
}

.sidebarNav .image-holder {
    width: 100%; 
    display: inline-block; 
    margin-top: -10px; 
    margin-left: 7%; 
    margin-right: auto;
}

.image-ctrl {
    display: inline-block;
    position:relative
}

.delete-button {
    z-index: 10;
    position: absolute;
    top: 4%;
    right: 5%;
}

.star-button {
    z-index: 10;
    position: absolute;
    top: 25%;
    right: 7%;
}
.thumb-container {
    transition: border-color 1s linear;
    -moz-transition: border-color 1s linear;    /* FF3.7+ */
    -o-transition: border-color 1s linear;      /* Opera 10.5 */
    -webkit-transition: border-color 1s linear; /* Saf3.2+, Chrome */
}

.transition {
    border: 1px solid #468847;
}
.qq-upload-button {
	top: -34px;
}
.contentSidebar .bootstrap-widget-content {
	padding-top: 0px;
}

.comment-container {
    font-size: 13px;
}
/** Regular Comments **/
.comment-container .user-photo {
    margin-top: 2px;
    float:left;
}

.comment-container .comment {
    margin-bottom: 10px;
    float:left;
    margin-left: 10px;
    background: #FAFEFF;
    border: 1px solid #DCDCDC;
    padding: 8px 12px;
    position: relative;
    border-radius: 3px;
    --webkit-border-radius: 3px;
    width: 88%;
}
@media (min-width: 1200px) {
    .comment-container .comment {
        width: 93%;
    }
}
@media (max-width: 767px) {
    .comment-container .comment {
        width: 73%;
    }
}
.comment-container .comment .info-row {
    font-size: 11px;
    color: #949494;
    margin-bottom: 6px;
    margin-top: -2px;
}

.comment-container .comment .info-row .options {
    float:right;
}

.comment-container .comment .info-row .name {
    color: #2C596D;
    font-weight: bold;
}

.rounded-img {
    display: inline-block;
    border: solid 1px #DCDCDC;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}


.comment-container.byself .user-photo {
    float:right;
    margin-top: 2px;
}

.comment-container.byself .rounded-img {
    border: 1px solid #B5CDD7;
}

.comment-container.byself .comment {
    float:left;
    margin-right: 10px;
    margin-left: 0px;
    border: 1px solid #B5CDD7;
}

.sharebox-submit  {
    background:#9eca80;
    border-radius:2px;
    float:right;
    margin-top: 5px;
    color:#fff;
    cursor:pointer;
    text-align:center;
    font-size:80%;
    font-weight:bold;
}

#sharebox {
    border:1px solid #ddd;
}

#sharebox #a {
    display:none;
    padding: 10px;
    color:#000;
    position:relative;
}
#sharebox #b {
    padding:10px;
    min-height:15px;
    cursor:text;
}
 
#sharebox #close, #sharebox #textbox {
    float:left;
}

#sharebox #textbox {
    width:99%;
    min-height:20px;
    outline:none;
    min-height:50px;
}

#sharebox #close {
    background: no-repeat url(../images/bg.png) -33px -31px;
    height: 9px;
    width: 9px;
    cursor: pointer;
    right: 11px;
    margin: 1px;
    position: absolute;
    top: 11px;
}

.redactor_.redactor_editor {
    min-height: 400px;
}

@media (max-width: 767px) {
    tfoot {
        display:none;
    }   
}