body {
    background:url("../images/bg.png") repeat;
    color: #666;
}

.icon-red {
	background-image: url("../images/glyphicons-halflings-red.png");
}

.icon-yellow {
	background-image: url("../images/glyphicons-halflings-red.png");
}

input[type="text"], input[type="password"] {
	min-height: 30px;
}

/** Misc Styles **/
div[class*='-indicator'] {
	padding-left: 20px;
}

.black-indicator {
	border-left:5px solid #444;
}

.green-indicator {
	border-left:5px solid #A7CE44;
}

.blue-indicator {
	border-left:5px solid #59A0DC;
}

.red-indicator {
	border-left:5px solid #CE4444;
}

.yellow-indicator {
	border-left:5px solid #CABF42;
}

.magenta-indicator {
	border-left:5px solid #A9014B;
}

.orange-indicator {
	border-left:5px solid #FF5C00;
}

.author-indicator {
	padding-right: 0px;
	margin-left: 40px;
}

.rounded-image {
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .9), 0 -1px 0 rgba(0, 0, 0, .6);
	-moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .9), 0 -1px 0 rgba(0, 0, 0, .6);
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .9), 0 -1px 0 rgba(0, 0, 0, .6);
}

/** Mobile View **/
@media (max-width: 767px) {
    body {
        padding: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .main {
        padding-left: 20px;
        padding-right: 20px;
    }
    .main-container {
    	margin-left:-10px;
    }
}

/** Header **/
header .header-top-bar {
    min-height: 7px;
    padding-bottom: 0px;
    background: #303030;
    border-bottom: 1px solid #444;
}

header .header-middle-bar {
	margin-top: 20px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

header .header-middle-bar .navbar .brand {
	margin-top: 8px;
}

header .header-middle-bar .navbar-inner {
	min-height: 55px;
	border-radius: 5px;
}

header .header-middle-bar .navbar .nav {
	margin: 8px 10px 0 0;
}

header .header-middle-bar .navbar .nav > li {
	border-right: 1px solid #cacaca;
}

header .header-middle-bar .navbar .nav > li:first-child {
	border-left: 1px solid #cacaca;
}

header .header-middle-bar .navbar .nav > li:last-child {
	border-right: none;
}

/** Main **/



main .image-container {
	border-bottom: 1px solid #cacaca;
	margin-bottom: 15px;
}

main .image-viewport {
	overflow: hidden;
	border: 10px solid #FFFFFF;
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
	max-height: 2000px;
	transition: all 1s ease 0s;
	max-width: 900px;
	width: 77%;
	margin-left: auto;
	margin-right: auto;
	max-height: 300px;
	margin-bottom: 20px;
}

main .sidebar .well, main .infinite_navigation {
	padding-top: 10px;
	background: #ffffff;
	border: 1px solid #dddddd;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin: 0 0 20px 0;
	float: left;
	width: 100%;
	padding-bottom: 5px;
}

main .sidebar .well-span {
	padding-top: 5px;
	background: #ffffff;
	border: 1px solid #dddddd;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	margin-right: 30px;
	padding-bottom: 5px;
	margin-left: 0px;
	padding-left: 20px;
	padding-right: 20px;
	float:left;
}

main .infinite_navigation {
	position: relative;
	min-height: 15px;	
}

main .sidebar .well h4, main .sidebar .well-span h4 {
	font-size: 16px;
	text-transform: uppercase;
	padding-bottom: 4px;
	margin-bottom: 6px;
	border-bottom: 1px solid #cacaca;
}

main .sidebar .well h4:before, main .sidebar .well-span h4:before {
	content: "/// ";
	color: #7daf27;
}

main .sidebar .well ul.nav li, main .sidebar .well-span ul.nav li  {
	margin-left: 15px;
}

main .sidebar .well ul.nav li a, main .sidebar .well-span ul.nav li a {
	display: block;
	color: #666;
	font-weight:bold;
	font-size: 13px;
}

main .sidebar .well ul.nav li a:before, main .sidebar .well-span ul.nav li a:before {
	content: "» ";
	color: #7daf27;
}

main .sidebar .well ul.nav li a:hover, main .sidebar .well-span ul.nav li a:hover {
	background: none;
}

main .sidebar .tags ul.nav li {
	display: inline-block;
	padding: 3px;
	margin: 2px;
	margin-left: 0px;
	margin-right: 5px;
	color: #333;
	font-weight: bold;
	font-size: 12px;
}

main .sidebar .tags ul.nav li a {
	color: #666;
	font-weight: bold;
	font-size: 12px;
}

main .sidebar .tags ul.nav li a:hover {
	background: none;
	color: #FFF;
}

main .sidebar .tags ul li:hover {
	background-color:#99cc00;
	color : #FFF;
	-webkit-transition: background-color .1s linear, color .1s linear;
	-moz-transition: background-color .1s linear, color .1s linear;
	-o-transition: background-color .1s linear, color .1s linear;
	-ms-transition: background-color .1s linear, color .1s linear;
	transition: background-color .1s linear, color .1s linear;
}

main .sidebar .tags ul.nav li a:before {
    content: " ";
    color: #7daf27;
    position: relative;
	top: 0px;
}

main  .post {
	background: #ffffff;
	border: 1px solid #dddddd;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin: 0 0 20px 0;
	float: left;
	width: 100%;
}

main .post .image {
	width: 100%;
}

main  {
	color: #333;
}

main  .post .post-inner {
	padding: 15px;
	padding-top: 0px;
	position: relative;
}

main  .post .post-header h3 {
	margin-top: 0px;
	font-size: 16px;
}

main  .post .post-header h3 a {
	color: #333;
}

main  .post .post-header h3.left-header {
	margin-top: -7px;
}

main  .post .blog-meta, main  .post .blog-meta a {
	color:#aaa;
}

main  .post .read-more-icon span, main .infinite_navigation #more span {
	background: url("../images/arrow-right.png") no-repeat scroll center center #222;
}

/*blog meta*/
main  .post .blog-meta {
	float:left;
	display: block;
	position: relative;
	top: 11px;
	width: 95%;
	font-size: 12px;
	font-weight: normal;
}
main  .post .blog-meta.inline {
	top: -20px;
}

main  .post .read-more-icon, main .infinite_navigation #more {
	transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	-webkit-transition: 1s;
	width: 30px; overflow: hidden;
	position: absolute;
	bottom: -25px;
	right:0;
	outline: none;
	z-index: 100;
	display:block;
	line-height:30px;
	height:30px;
	width:30px;
	overflow: hidden;
	background:#222;
	color:#fff;
}

main .infinite_navigation #more {
	bottom: -1px;
	width: 100px;
	border-bottom: 1px solid #222;
}

main  .post .read-more-icon span, main .infinite_navigation #more span {
	display:block;
	line-height:30px;
	height:30px;
	width:30px;
	position: absolute;
	bottom: 0;
	right:0;
}

@media (max-width: 550px) {
	main .post .read-more-icon {
		bottom: -46px;
	}
}

main  .post .read-more-icon strong, main .infinite_navigation #more strong {
	display:block;
	line-height:30px;
	height:30px;
	font-size: 10px;
	padding:0 30px 0 10px;
	text-decoration: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

main  .post .read-more-icon:hover, main .infinite_navigation #more:hover {
	background:#222;
	color:#fff;
	transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	-webkit-transition: 1s;
	width: 100px;
	text-decoration: none;
}

main  .post .read-more-icon:hover strong, main .infinite_navigation #more:hover strong {
	display:block;
}

main .post .post-inner .post-header-comments {
    margin-top: 10px;
}


main #sharebox, main [id*='sharebox-'] {
    border:1px solid #ddd;
}

main [id*='sharebox-'] {
	width: 87%;
	float: left;
}

main #sharebox #a, [id*='sharebox-'] [id*='a-'] {
    display:none;
    padding: 10px;
    color:#000;
    position:relative;
}

main #sharebox #b, [id*='sharebox-'] [id*='b-'] {
    padding:10px;
    min-height:15px;
    cursor:text;
}
 
main #sharebox #close, #sharebox #textbox, [id*='sharebox-'] [id*='close-'], [id*='sharebox-'] [id*='textbox-'] {
    float:left;
}

main #sharebox #textbox,[id*='sharebox-'] [id*='textbox-'] {
    width:99%;
    min-height:20px;
    outline:none;
    min-height:50px;
}

main #sharebox #close, [id*='sharebox-'] [id*='close-'] {
    background: no-repeat url(../images/admin/bg.png) -33px -31px;
    height: 9px;
    width: 9px;
    cursor: pointer;
    right: 11px;
    margin: 1px;
    position: absolute;
    top: 11px;
}

main .comment-box-inline {
	width: 93%;
	margin-top: 5px;
}

main .likes-container--topfix {
	margin-top: 10px;
}

main .sharebox-submit  {
    background:#9eca80;
    border-radius:2px;
    float:right;
    margin-top: 5px;
    color:#fff;
    cursor:pointer;
    text-align:center;
    font-size:80%;
    font-weight:bold;
}

main .likes a {
	color: #5e5e5e;
	display: block;
	position: relative;
	height: 23px;
	padding: 5px 8px 0 8px;
	z-index: 100;
	background: rgba(34,59,74,0.2);
	font-weight: bold;
	font-size: 13px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	text-decoration: none;
}

main .likes a:hover {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	background: rgba(53, 66, 73, 0.32);
	font-weight: bold;
	font-size: 13px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

main .likes.liked a, main .likes.liked a:hover {
	background: #8fc847;
	background: rgba(132,192,62,0.9);
	-webkit-transform: translate3d(0,0,0);
	color: white;
}

main .likes .counter {
	overflow: hidden;
	padding: 0;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

main .comment {
	clear:both;
	font-size: 13px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid rgba(0,0,0,0.1);
	position: relative;
}

main .comment-form {
	display:none; 
	padding-left: 50px; 
	margin-top: 10px; 
	margin-bottom: 0px; 
	padding-bottom: -10px; 
	height: 40px;
}

main .comment:first {
	border-top: 0px;
}

main .comment .comment-byline {
	margin-left: 10px;
	font-weight: 400;
	font-size: 85%;
	color: #999;
}

main .comment .comment-byline-footer {
	margin-top: -10px;
	cursor: pointer;
}

main .comment .comment-byline-footer span {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
main .comment .comment-byline-footer span:hover {
	color: #666;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

main .comment .comment-byline-footer span.flagged {
	color: #CE4444;
}

main .comment .comment-body {
	padding-left: 10px;
	margin-left: 30px;
	clear: none;
}

main .comment .avatar {
	display: block;
	float: left;
	margin-top: 5px;
}

main .comment .author-indicator > .comment-body {
	margin-left: -10px;
	padding-left: 0px;
}

main .login-container {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	min-width: 300px;
}

main .login-form-container {
	margin-bottom: 10px;
}

main .login-form-footer {
	padding-left: 5px;
	padding-right: 5px;
	margin-top: -8px;
}

main .login-form-links {
	font-size: 12px;
	color: #aaa;
}

main #login-form {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

main #login-form input:first-of-type {
	margin-top: 15px;
}

main #login-form input[type="text"], main #login-form input[type="password"] {
	width: 100%;
}

/** Social Media Icons **/
main .social-icons {
	width: 32px;
	height: 32px;
	display:block;
	-webkit-transition: .5s linear;
	-moz-transition: .5s linear;
	-o-transition: .5s linear;
	-ms-transition: .5s linear;
	transition: .5s linear;
	float:left;
	margin: 5px;
}

main .social-buttons {
	margin-left: auto;
	margin-right: auto;
	width: 51%;
}

main .social-icons.facebook {
	background: url('../images/icons/facebook.png') no-repeat;
}

main .social-icons.facebook:hover {
	background: url('../images/icons/facebook_hover.png') no-repeat;
}

main .social-icons.linkedin {
	background: url('../images/icons/linkedin.png') no-repeat;
}

main .social-icons.linkedin:hover {
	background: url('../images/icons/linkedin_hover.png') no-repeat;
}

main .social-icons.google {
	background: url('../images/icons/google.png') no-repeat;
}

main .social-icons.google:hover {
	background: url('../images/icons/google_hover.png') no-repeat;
}

main .social-icons.twitter {
	background: url('../images/icons/twitter.png') no-repeat;
}

main .social-icons.twitter:hover {
	background: url('../images/icons/twitter_hover.png') no-repeat;
}

main .addthis_toolbox {
	width: 185px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}

main #password_strength_2 {
	margin-bottom: 15px;
}

main .password_strength_container {
	position: relative;
	width: 103%;
	margin-top: -6px;
	height: 10px;
}

main .password_strength_bg {
	height: 4px;
	background-color: #e8e8e8;
	width: 100%;
	position: absolute;
	left: 0;
}

main .password_strength {
	height: 4px;
	background-color: #c81818;
	width: 0;
	position: absolute;
	left: 0;
}

main .password_strength.great, main .password_strength_desc.great {
	background-color: rgb(39, 179, 15);
}

main .password_strength.good, main .password_strength_desc.good {
	background-color: rgb(166, 192, 96);
}

main .password_strength.poor, main .password_strength_desc.poor {
	background-color: rgb(255, 172, 29);
}

main .password_strength.bad, main .password_strength_desc.bad {
	background-color: #c81818;
}

main .password_strength_separator {
	height: 4px;
	width: 2px;
	background-color: #fff;
	position: absolute;
	left: 0;
}

main .password_strength_desc {
	float: right;
	margin-top: 6px;
	line-height: 16px;
	font-size: 11px;
}

/** Footer **/
footer a, footer a:visited, footer a:active {
    color: #999; 
}

footer a:hover {
    color: #7daf27;
}

footer ul.nav li:before {
    content: "» ";
    color: #7daf27;
    position: relative;
	top: -2px;
}

footer p, footer ul {
    margin-bottom: 10px;
    color: #777;
    font-size: 12px;
    line-height: 14px;
}

footer ::selection {
    background: #7daf27;
    color: #fff;
}

footer h5 {
    margin-bottom: 5px;
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
}

footer h5:before {
	content: "/// ";
    color: #7daf27;
}

footer .well {
    background-color: #333;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 13px;
    color: #999;
}

footer .container {
    padding: 0 10px;
}

footer .footer-top-block {
    padding: 20px 0px;
    background: #3a3a3a;
    padding-bottom: 0px;
    color: #FFF;
}

footer .footer-main-block {
    padding: 30px 0px;
    padding-bottom: 10px;
    background: #303030;
    color: #cacaca;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}

footer .footer-main-block .inner-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

footer .footer-bottom-block {
    padding: 3px 0px;
    background: #3a3a3a;
    color: #999;
    font-size: 11px;
    border-bottom: 5px solid #000;
}

footer .footer-bottom-block .cii-menu ul {
    font-size: 11px;
    margin: 0px;
}

footer .footer-bottom-block .cii-menu ul li {
    display: inline;
}

footer .footer-bottom-block .cii-menu ul li:after {
    content: " / ";
}

footer .footer-bottom-block .cii-menu ul li:last-child:after {
    content: "";
}

footer .nav > li > a {
    display: inline;   
}

footer ul.footer-nav li:before {
    content: "";
}