.left {
	float:left;
}

.right {
	float:right;
}

.card .clear {
	clear:both;
}

.card .clear-right {
	clear:right;
}

.card .clear-left {
	clear:left;
}

.card .border-right {
	border-right: 2px solid #EEE;
}

.card .bold {
	font-weight:bold; 
	font-size: 18px;
	font-family:Arial,"Bitstream Vera Sans",Helvetica,Verdana,sans-serif; 
	padding-right: 5px;
}

.card .black {
	color:#777;
}

.card .green {
	color:#A7CE44;
}

.card .blue {
	color:#59A0DC;
}

.card .red {
	color:#CE4444;
}

.card .yellow {
	color:#CABF42;
}

.card .purple {
	color:#A9014B;
}

.card .orange {
	color:#FF5C00;
}

.card .nav-header.top, .well .top {
	padding-bottom: 5px;
	border-bottom: 1px solid #EEE;
}

.card ul li:first-child {
	margin-left: -30px;
}

.card ul .nav-list {
	padding-left: 0px;
}

.pagination {
	text-align:center;
}

.hidden {
	display:none;
}

blockquote.comment {
	border-left: 5px solid #CE4444;
	margin-left:50px;
}

/* ------------------------------------------------ */

body > .navbar .brand {
   padding-left: 20px; 
}

.list-view .well {
    padding: 5px 19px;
}

.list-view .well h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 5px;
    border-bottom: 1px solid #e1e1e8;
}

.list-view .items {
    clear:both;
}

.list-view .items #content-well {
    position:relative;
    min-height: 300px;
    max-height: 300px;
}

.list-view .items #content-well .content {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 165px;
    width: 100%;
}

.list-view .items #content-well .author-block .nav-header {
    padding: 0px;
    margin-top: -10px;
}

.list-view .items #content-well .footer-date {
    border-top: 1px solid #e1e1e8;
    padding-top: 8px;
    position:absolute;
    bottom: 35px;
    width: 88%;
}

.list-view .items #content-well .footer {
    border-top: 1px solid #e1e1e8;
    position:absolute;
    bottom: 0;
    margin-bottom: 10px;
    padding-top: 5px;
    width: 88%;
}

.list-view .items #content-well .footer #comment-button [class^="icon-"] {
    margin-top: 2px;
}

.list-view .items #content-well .footer #comment-button a
{
    font-weight: bold;
    color:#CE4444;
}

.list-view .sorter h4 {
    margin-top: 0px;
}
.list-view .pagination {
    clear:both;
}

#wmd-preview {
    display: none;
}

.sidebarNav .well {
    padding-top: 14px;
}

.sidebarNav .well h5 {
    margin-top: 0px;
    padding-bottom: 2px;
    border-bottom: 1px solid #e1e1e8;
}
