<phpunit bootstrap="bootstrap.php"
        colors="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false">
        
        <testsuites>
            <testsuite name="Tests">
                <directory suffix=".php">*</directory>
            </testsuite>
        </testsuites>
</phpunit>