@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(../fonts/ptsans/D7F3bIyVvgEwAiTjRyhWnKCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(../fonts/ptsans/HXiERDIZdwFzjXlbcMq7XHYhjbSpvc47ee6xR_80Hnw.woff)) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/opensans/wMws1cEtxWZc6AZZIpiqWALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/opensans/MTP_ySUJH_bn48VBG8sNSr3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(../fonts/opensans/EInbV5DfGHOiMmvb1Xr-hr3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}


select, 
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
    height: 30px;
}

label {
	color: #999;
	font-size: 13px !important;
	font-family: 'Open Sans';
	font-weight: 600;
}

html, body {
	height: 100%;
	min-height: 100%;
	max-height: 100%;
}

body {
	background: #f3f5f9;
	margin: 0;
	font-family: "PT Sans Bold", Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}

/** Header **/
header {
	background: #2D2D29;
	color: #eee;
	margin: 0px;
	height: 100%;
	width: 100px;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
	position: relative;
	float:left;
	display: inline-block;
}

/** Header Navigation **/
header .navigation, header .user {
	margin: 0 5%;
	margin-top: 8px;
	color: #eee;
	font-size: 12px;
	font-family: 'Open Sans';
	font-weight: 600;
}

header .navigation a, header .user a {
	color: #999;
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

header .navigation ul li {
	display: inline-block;
	margin: 0 10px;
}

header .navigation ul:first-child {
	margin-left: 0px;
}

header .navigation a:hover, header .user a:hover, header .navigation ul li.active a {
	background: transparent;
	text-decoration: none;
    color: #eee;
    -webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

header .navigation a:hover:after, header .navigation ul li.active a:after {
	content: "";
    display: inline-block;
	border-style: solid;
	border-width: 0 7.5px 7.5px 7.5px;
	border-color: transparent transparent #007bff transparent;
    border-bottom-color: #f3f5f9;
    position: absolute;
    bottom: -10px;
    left: 43%;
}

/** Header User **/

header .user img.user-image {
	display: inline-block;
	border: 1px solid #82837E;
	padding: 1px;
	margin-left: 10px;
	margin-top: -4px;
}

header .user .options {
	margin-left: 5px;
	display: inline-block;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #82837E;
}

/** Main **/

.main-container {
	margin: 0;
	width: 100%;
	overflow: hidden;
	height: 100%;
	min-height: 100%;
}

/** Main Dashboard **/
main {
	margin-top: 20px;
	min-height: 100%;
	height: 100%;
	max-width: 100%;
	overflow:hidden;
}

main .dashboard .push-header {
	margin-bottom: 10px;
}

main .dashboard .header,
main .content-container .header {
	height: 30px;
	background: #fff;
	margin: 0 5%;
	border: 1px solid #ebeff6;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
	padding: 5px;
}

main .content-container .header {
	margin: 0px;
	margin-bottom: 10px;
}

main .settings-container .small-text {
	font-size: 12px;
	padding-bottom: 15px;
}

main .settings-container .inline {
	display:inline-block;
}

main .settings-container .meta-container .icon-remove {
	top: -8px;
}

main .settings-container .header.secondary {
	padding-left: 60px;
	border-bottom: 0px;
}

main .settings-container .strikethrough {
	
}
main .settings-container .list-view .items {
	margin-top: -46px;
}

main .settings-container .list-view .settings-row,
main #comments .settings-row {
	font-family: 'Open Sans';
	color: #2D2D29;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

main #comments .settings-row {
	font-size: 12px;
}

main .settings-container .list-view .settings-row:hover {
	background: #eee;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

main .settings-container .list-view .settings-row .user-info,
main #comments .settings-row .user-info,
main #comments .settings-row .body {
	left: 15px;
	position: relative;
}

main .settings-container .list-view .settings-row .name,
main .settings-container .list-view .settings-row .email,
main #comments .settings-row .name,
main #comments .settings-row  .email {
	display: block;
	font-family: 'Open Sans';
	font-size: 12px;
	color: #2D2D29;
	font-weight: bold;
	text-decoration: none;
}

main .settings-container .list-view .settings-row .email,
main #comments .settings-row  .email {
	font-size: 11px;
	font-style: italic;
	font-weight: normal;
	color: #999;
}

main .settings-container .list-view .settings-row .element,
main #comments .settings-row .element {
	position: relative;
	top: 9px;
	margin-left: 15px;
}

main .settings-container .meta-icon-plus {
	top: 15px;
	position: relative;
	background: #A7CE44;
	border-radius: 4px;
	padding: 5px;
	color: #fff;
	font-size: 10px;
	text-decoration: none;
	margin-right: 5px;
}

main .dashboard .header .content .welcome,
main .content-container .header .welcome {
	display:inline-block;
}

main .dashboard .header .content .header-nav {
	display: inline-block;
	margin-left: 5%;
}

main .dashboard .header .content,
main .content-container .header .content {
	width: 100%;
	display: inline-block;
	margin-top: 5px;
	margin-left: 10px;
	font-family: 'Open Sans';
	font-size: 12px;
	color: #2D2D29;
}

main .dashboard .header .content a {
	color: #999;
	font-size: 11px;
	font-family: 'Open Sans';
	font-weight: 600;
	text-transform: uppercase;
	padding: 0 10px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

main .dashboard .header .content a:hover {
	text-decoration: none;
	color: #000;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

main .dashboard .header .content a span {
	margin-right: 5px;
}

main .dashboard .widget-selector {
	max-height: 500px;
	min-height: 500px;
	height: 500px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

main .dashboard .widget-selector.hidden {
	height: 0px;
	min-height: 0px;
	max-height: 0px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

main .dashboard .widget-selector #main {
	max-height: 500px;
	min-height: 500px;
	height: 500px;
}
main .dashboard .widget-container {
	position: relative;
    width: 90%;
    max-width: 100%;
    margin: 0 5%;
}

main .dashboard .widget-container > div:not(.modal) {
    background: #fff;
    border: 1px solid rgba(0,0,0, 0.1);
    position: absolute;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
    height: 230px;
    width: 230px;
}

main .dashboard .widget-container .ss-placeholder-child {
    background: transparent !important;
    border: 1px dashed rgba(0,0,0,0.2) !important;
}

main .dashboard .shader {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(0,0,0,0.5);
	display:none;
}

main .dashboard .modal {
	width: 500px;
	max-width: 500px;
	min-height: 250px;
	height:250px;
	z-index: 2;
	padding: 10px;
	padding-top: 0px;
	border-radius: 0px;
	--webkit-border-radius: 0px;
	--moz-border-radius: 0px;
	--o-border-radius: 0px;
}

main .dashboard .modal label {
	padding-left: -50px;
	width: 141px;
}

main .dashboard .modal input.pure-button {
	position: absolute;
	top: 7px;
	right: 1px;
}
main .dashboard .modal form,
main .dashboard .modal form #main,
main .dashboard .modal form #main .content {
	height: 100%;
}

/** Main Content **/
main .posts-container,
main .settings-container,
main .content-container {
	margin: 0 5%;
	width: 90%;
	overflow: hidden;
	height: 100%;
	min-height: 100%;
}

main .posts-container .list-view {
	min-height: 90%;
	height: 90%;
}

main .posts-container .list-view .posts,
main .settings-container .sidebar,
main .content-container .editor {
	float: left;
	margin-right: 5px;
	width: 450px;
	height: 93%;
	max-height: 93%;
	overflow: hidden;
	background: #fff;
    border: 1px solid #ebeff6;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
	padding: 10px;
	padding: 0px;
}

main .content-container .editor {
	height: 93%;
	max-height: 93%;
	width: 48%;
	padding: 0px;
}

main .settings-container .sidebar #main {
	height: 84%;
	max-height: 84%;
}
main .content-container .editor #main,
main .content-container .editor #main .content {
	height: 98%;
	max-height: 98%;
}

main .content-container .editor textarea {
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	box-shadow: none;
	-webkit-box-shadow: none;
	-mox-box-shadow: none;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    padding: 15px;
    font-size: 14px;
}

main .settings-container .sidebar {
	width: 350px;
	padding: 0px;
	height: 93%;
	max-height: 93%;
}

main .settings-container .header,
main .content-container .header {
	border-bottom: 1px solid rgba(0,0,0, 0.1);
	padding: 10px 20px;
}

main .settings-container .header h3,
main .content-container .header h3 {
	font-size: 25px;
	font-weight: 600;
}

main .settings-container .header p,
main .content-container .header p {
	font-size: 13px;
}

main .settings-container .sidebar ul.menu {
	margin: 0px;
}

main .settings-container .sidebar .menu li {
	cursor: pointer;
	color: #999;
	display: block;
	width: 100%;
	padding: 20px;
	margin: 0px;
	border-bottom: 1px solid rgba(0,0,0, 0.1);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

main .settings-container .sidebar .menu li:hover,
main .settings-container .sidebar .menu li:hover a,
main .settings-container .sidebar .menu li.active,
main .settings-container .sidebar .menu li.active a {
	color: #2D2D29;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

main .settings-container .sidebar .menu li a {
	color: #999;
	font-size: 11px;
	font-family: 'Open Sans';
	font-weight: 600;
	text-transform: uppercase;
	padding-left: 20px;
	text-decoration: none;
}

main .settings-container .body-content form {
	height: 100%;
}

main form.content-container-form {
	margin: 0;
	height:100%;
}

main .settings-container .body-content form #header-button {
	margin: 27px 0px;
}

main .settings-container .body-content a#header-button {
	margin: 27px 0px;
	top: 4px;
}

main .settings-container .body-content #main {
	height: 87%;
	max-height: 87%
}

main .content-container #main {
	height: 96%;
	max-height: 96%;
}

main .settings-container .body-content #main .content {
	padding: 10px 20px;
	padding-left: 60px;
}

main .settings-container .body-content #main .content .output {
	display: inline-block;
	margin-left: 10px;
	border: 1px solid #ebeff6;
	padding: .5em .6em;
	display: inline-block;
	border: 1px solid #ccc;
	font-size: .8em;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

main .settings-container .body-content #main .content .output:hover {
	border-color: #129FEA;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

main .settings-container .body-content #main .content .group-header {
	margin-top: 10px;
	margin-bottom: 10px;
}

main .settings-container .body-content ul.providers {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	margin-right: -1px;
	overflow: visible !important;
	width: 100%;
	top: -6px;
}

main .settings-container .body-content ul.providers li {
	width: 33%;
	float: left;
	border: 1px solid #eee;
	max-height: 170px;
	min-height: 170px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

main .settings-container .body-content ul.providers li:hover {
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	border: 1px solid rgba(82,168,236,0.6);
	background-color: #eee;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

main .settings-container .body-content ul.providers li:hover .tile {
	background-color: #eee;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

main .settings-container .body-content ul.providers li .tile {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	position: relative;
	padding: 2.4em;
	padding-bottom: 10px;
	background-color: white;
	text-align: center;
}

main .settings-container .body-content ul.providers li .tile .help {
	display: none;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

main .settings-container .body-content ul.providers li:hover .tile .help {
	padding-top:10px;
	display: inline-block;
	text-align: center;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	cursor: pointer;
}

main .settings-container .body-content ul.providers li .tile > label {
	display: none;
	margin: .5em 0 .2em;
	width: 100px;
}

main .settings-container .body-content ul.providers li .tile .pure-input-2-3 {
	display:block !important;
	text-align: center;
	width: 100px;
	margin: 0 auto;
	margin-top: 20px;
}

main .settings-container .body-content ul.providers li .tile .title img {
	max-height: 40px;
}

main .settings-container .body-content .options-panel {
	position: absolute;
	top: 0;
	right: -100%;
	z-index: 10;
	width: 80%;
	background: #fff;
	height: 100%;
	padding: 20px;
	border-left: 1px solid rgba(82,168,236,0.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
}

main .posts-container .list-view .pagination {
	float:left;
	text-align:center;
	width: 450px;
}

main .posts-container .list-view .posts .header {
	color: #999;
	font-size: 11px;
	font-family: 'Open Sans';
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0,0,0, 0.1);
}

main .posts-container .list-view .posts .header a.icon-plus {
	text-decoration: none;
	background: #8fc847;
	background: rgba(132,192,62,0.9);
	padding: 5px;
	font-size: 10px;
	color: #eee;
	border-radius: 4px;
	margin-right: 10px;
}

main .posts-container .list-view .posts .header .icon-search {
	padding: 5px;
	font-size: 12px;
	font-weight: 600;
}

main .posts-container .list-view .sorter {
	clear: both;
	margin-bottom: 10px;
	padding: 5px;
	height: 30px;
	max-height: 30px;
	background: #fff;
    border: 1px solid #ebeff6;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
	text-align: left;
}

main .posts-container .list-view .grid-view .sorter {
	position: relative;
	top: -20px;
}

main .posts-container .list-view .sorter .content {
	width: 100%;
	display: inline-block;
	margin-top: 5px;
	margin-left: 10px;
	font-family: 'Open Sans';
	font-size: 12px;
	color: #2D2D29;
}

main .posts-container .list-view .sorter .content ul li a {
	color: #999;
	font-size: 11px;
	font-family: 'Open Sans';
	font-weight: 600;
	text-transform: uppercase;
	margin: 0 3px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

main .posts-container .list-view .sorter .content ul {
	float: right;
	margin-right: 20px;
}

main .posts-container .list-view .sorter .content span.icon-exchange {
	position: relative;
	top: 5px;
	right: 20px;
	padding-left: 5px;
	color: #999;
	font-size: 11px;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

main .posts-container .list-view .sorter .content ul li a:hover, 
main .posts-container .list-view .sorter .content span.icon-exchange:hover, 
main .posts-container .grid-view table .button-column a:hover {
 	text-decoration: none;
	color: #000;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

main .posts-container .list-view .sorter a.desc {
	background: transparent;
	padding-right: 0px;
}

main .posts-container .list-view .sorter a.desc:after {
	font-family: 'FontAwesome';
	content: "\f107";
	background: transparent;
	padding-left: 5px;
}

main .posts-container .list-view .sorter a.asc {
	background: transparent;
	padding-right: 0px;
}

main .posts-container .list-view .sorter a.asc:after {
	font-family: 'FontAwesome';
	content: "\f106";
	background: transparent;
	padding-left: 5px;
}

main .posts-container .grid-view .summary-text {
	float:right;
	margin-right: 10px;
	color: #999;
	text-transform: uppercase;
}

main .posts-container .grid-view .icon-plus {
	background: #A7CE44;
	border-radius: 4px;
	padding: 5px;
	color: #fff;
	font-size: 10px;
	text-decoration: none;
	margin-right: 25px;
	position: relative;
}
main .posts-container .grid-view table {
	position: relative;
	top: -20px;
	border: 1px solid rgba(0,0,0, 0.1);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
	border-collapse: separate;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #fff;
}

main .posts-container .grid-view table .button-column a {
	font-family: "FontAwesome";
	font-weight: 400;
	color: #999;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

main .posts-container .grid-view table .button-column a i {
	display: none;
	
}

main .posts-container .grid-view table a.sort-link {
	font-family: 'Open Sans';
	font-size: 12px;
	color: #2D2D29;
}

main .posts-container .list-view .pager {
	float: left;
	width: 450px;
	text-align: center;
}

main .posts-container .list-view .preview,
main .settings-container .body-content,
main .content-container .body-content {
	
}

main .content-container .top-header {
	border-bottom: 1px solid #eee;
	padding: 7px 10px;
	color: #999;
	font-size: 11px;
	font-family: 'Open Sans';
	font-weight: 600;
	text-transform: uppercase;
}

main .content-container .preview,
main .content-container .settings-content {
	padding: 20px;
}

main .content-container input.title {
	position: relative;
	left: -22px;
	top: -6px;
	border: none;
	box-shadow: none;
	font-family: 'Open Sans';
	color: #2D2D29;
	font-weight: bold;
	font-size: 14px;
	width: 100%;
}

main .content-container input.title::-webkit-input-placeholder {
	font-style: italic;
	font-weight: normal;
}

main .content-container input.title::-moz-placeholder {
	font-style: italic;
	font-weight: normal;
}

main .content-container input.title:-moz-placeholder {
	font-style: italic;
	font-weight: normal;
}

main .content-container input.title:-ms-input-placeholder {
	font-style: italic;
	font-weight: normal;
}

main .content-container .flipbox {
	background-color: #fff !important;
}

main .content-container .settings {
	display: none;
	padding: 20px;
}

main .post {
	color: #2D2D29;
	padding: 10px;
	padding-top: 0px;
	border: 1px solid #eee;
	cursor: default;
}

main .post:active {
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

main .post.active {
	border-left: 3px solid #999;
	background: #F5F5F5;
}

main .post.post-header h6 {
	margin-bottom: 0px;
}

main .post.post-header .icon-plus {
	top: 9px;
	position: relative;
	background: #A7CE44;
	border-radius: 4px;
	padding: 5px;
	color: #fff;
	font-size: 10px;
	text-decoration: none;
	margin-right: 5px;
}

main .post.post-header:active, main .post.active:active {
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
}

main .post-data {
	color: #2D2D29;
	position: relative;
	overflow: hidden;
}

main .post-data h6 {
	color: #2D2D29;
	margin-bottom: 0px;
}

main .post-data .author {
	color: #999;
	text-transform: uppercase;
	font-size: 11px;
}

main .post-data .status {
	display: block;
	color: #999;
	text-transform: uppercase;
	font-size: 11px;
}

main .post-data .status abbr[title], main .post-data .status abbr[data-original-title] {
	border-bottom: 0px;
}

main .post-data .status.draft {
	color: #CE4444;
}

main .post-data .status.scheduled {
	color: #e6a550;
}

main .post-metadata {
	color: #2D2D29;
	position: relative;
	float: right;
    width: 50px;
}

main .post-metadata-inner {
	color: #2D2D29;
	padding-right: 5px;
	padding-top: 5px;
	position: relative;
	float:right;
	font-size: 12px;
}

main .post-metadata-inner .row {
	display: block;
	width: 100%;
	margin-left: 0px;
}

main .post-metadata-inner .row.comments {
	color: #A7CE44;
}

main .post-metadata-inner .row.likes {
	color: #CE4444;
}

main .post-metadata-inner .row.views {
	color: #59A0DC;
}

main .preview .preview-header {
	border-bottom: 1px solid #eee;
	padding: 10px 20px;
	color: #999;
	font-size: 11px;
	font-family: 'Open Sans';
	font-weight: 600;
	text-transform: uppercase;
}

main .preview .preview-header .icon-edit, 
main .preview .preview-header .icon-gear,
main .preview .preview-header .icon-trash,
main .preview .preview-header .icon-eye-open,
main .preview .preview-header .icon-comment,
main .body-content .icon-trash,
main .editor .icon-camera,
main .content-container .icon-gear {
	position: relative;
	top: 5px;
	color: #999;
	text-decoration: none;
	font-size: 13px;
	padding-left: 10px;
}

main .preview .preview-header .icon-comment {
	top: 4px;
	padding-right: 2px;
}

main .editor #promotedDz {
	margin: 0 20px;
}
main .preview .preview-image {
	width: 100%;
}

main .preview .preview-data {
	margin: 20px;
}

main .preview .preview-metadata {
	font-size: 12px;
	margin-top: -10px;
	margin-bottom: 15px;
}

main .body-content .preview-metadata {
	font-size: 12px;
	margin: 0 20px;
	margin-bottom: 10x;
}

main .body-content .preview-image {
	border-bottom: 1px solid #eee;
}

main .alert {
	margin: 0 5%;
	margin-bottom: 20px;
}

/** Dashboard Cards **/

main .widget-container .settings {
	height: 100%;
}

main .widget-container div.card-rectangle {
	width: 482px; 
	height:  230px;
}

main .widget-container div.card-normal {

}

main .widget-container div.card-huge {
	width: 482px; 
	height: 482px;
}

main .widget-container div.card-huge .body {
	height: 93%;
}

main .widget-container .footer {
	height: 15%; 
	border-top: 1px solid #eee;
}

main .widget-container .footer:last-child {
	padding-right: 5px;
}

main .widget-container .body {
	height:85%;
}

main .widget-container .footer .icon-padding,
main .widget-container .footer .footer-text {
	color: #999;
	border-left: 1px solid #eee;
	position: relative;
	padding: 10px;
	height: 100%;
	width: 10px;
}

main .widget-container .footer .footer-text {
	border-left: none;
	font-size: 10px;
	letter-spacing: 1px;
	font-family: 'Open Sans';
	padding-top: 5px;
	padding-left: 15px;
	margin-top: 1px;
	text-transform: uppercase;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 10px;
}

main .widget-container div.card-normal .footer .footer-text {
	width: 90px;
}

main .widget-container div.card-huge .footer .footer-text,
main .widget-container div.card-rectangle .footer .footer-text {
	width: 340px;
}

main #comments {
	height: 100%;
	padding: 10px;
}

/**
 * Comment Boxes
 */

main #sharebox, main [id*='sharebox-'] {
    border:1px solid #ddd;
}

main [id*='sharebox-'] {
	width: 81%;
	float: left;
}

main #sharebox #a, [id*='sharebox-'] [id*='a-'] {
    display:none;
    padding: 10px;
    color:#000;
    position:relative;
}

main #sharebox #b, [id*='sharebox-'] [id*='b-'] {
    padding:10px;
    min-height:15px;
    cursor:text;
}
 
main #sharebox #close, #sharebox #textbox, [id*='sharebox-'] [id*='close-'], [id*='sharebox-'] [id*='textbox-'] {
    float:left;
}

main #sharebox #textbox,[id*='sharebox-'] [id*='textbox-'] {
    width:99%;
    min-height:20px;
    outline:none;
    min-height:50px;
}

main #sharebox #close, [id*='sharebox-'] [id*='close-'] {
    background: no-repeat url(../images/bg.png) -33px -31px;
    height: 9px;
    width: 9px;
    cursor: pointer;
    right: 11px;
    margin: 1px;
    position: absolute;
    top: 11px;
}

main .comment .user-avatar {
	min-height: 100px;
	display:inline-block;
}

main .comment .main-content {
	display:inline-block;
	width: 90%;
}

main .comment .comment-form {
	display:none;
	min-height:40px;
}

main .comment .comment-byline {
	margin-left: 10px;
	font-weight: 400;
	font-size: 85%;
	color: #999;
}

main .comment .comment-byline-footer {
	cursor: pointer;
}

main .comment .comment-byline-footer span {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

main .comment .comment-byline-footer span:hover {
	color: #666;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

main .sharebox-submit  {
    background:#9eca80;
    border-radius:2px;
    float:right;
    margin-top: 5px;
    color:#fff;
    cursor:pointer;
    text-align:center;
    font-size:80%;
    font-weight:bold;
}
.ui-tooltip {
	width:50px;
	text-align: center;
}

/** initial setup **/
.nano {
	position : relative;
	overflow : hidden;
}

.nano .content {
	position      : absolute;
	overflow      : scroll;
	overflow-x    : hidden;
	top           : 0;
	right         : 0;
	bottom        : 0;
	left          : 0;
}

.nano .content:focus {
	outline: thin dotted;
}

.nano .content::-webkit-scrollbar {
	visibility: hidden;
}

.has-scrollbar .content::-webkit-scrollbar {
	visibility: visible;
}

.nano > .pane, .nano > .pane2 {
	background : rgba(0,0,0,.25);
	position   : absolute;
	width      : 7px;
	right      : 0;
	top        : 0;
	bottom     : 0;
	visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
	opacity    : .01; 
	-webkit-transition    : .2s;
	-moz-transition       : .2s;
	-o-transition         : .2s;
	transition            : .2s;
	-moz-border-radius    : 5px;
	-webkit-border-radius : 5px;  
	border-radius         : 5px;
}

.nano > .pane > .slider,.nano > .pane2 > .slider2 {
	background: #444;
	background: rgba(0,0,0,.5);
	position              : relative;
	margin                : 0 1px;
	-moz-border-radius    : 3px;
	-webkit-border-radius : 3px;  
	border-radius         : 3px;
}

.nano:hover > .pane, .pane.active, .pane.flashed, .nano:hover > .pane2, .pane2.active, .pane2.flashed {
	visibility : visible\9; /* Target only IE7 and IE8 with this hack */
	opacity    : 0.99;
}

.pure-form .pure-search {
    border: none !important;
    border-bottom: 1px solid #e5e5e5 !important;
    margin-top: 11px;
    font-size: 12px !important;
	font-family: "Open Sans", Arial, sans-serif;
	font-style: italic;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
    -mox-box-shadow: none !important;
    -o-box-shadow: none !important;
}

.icon-legend {
	margin-top: 18px;
	margin-right: 5px;
}

.rounded-img {
    display: inline-block;
    border: solid 1px #DCDCDC;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/** Webkit Specific hacks for the preview */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	input[type='range'] {  
	    -webkit-appearance: none;  
	    background-color: #999;  
	    height: 4px;
	}  
	  
	input[type='range']::-webkit-slider-thumb {  
		-webkit-appearance: none;
	    background-color: #333;  
	    width: 10px;  
	    height: 7px; 
	}
}

input[type="range"]::-ms-fill-lower {
	background-color: #0078e7;
}

.transparent {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 5;
	background-color: transparent;
	top: -6px;
}

.row.noItemsMessage {
	text-align: center;
	font-size: 12px;
	color: #999;
	font-style: italic;
}

.inline {
	display: inline-block;
	position: relative;
	font-size: 12px;
	color: #2d2d2d;
	line-height: 20px;
	top: -4px;
}

#spinner {
	display:none;
}

.icon-spacer {
	padding-right:5px;
}

.icon-spinner-form {
	margin-left: -7px;
}
/* ------------------------------------------
CSS TOGGLE SWITCHES (Ionuț Colceriu)
Licensed under Unlicense 
https://github.com/ghinda/css-toggle-switch
------------------------------------------ */

/* Hide by default */

.switch .slide-button,
.toggle p span {
	display: none;
}

/* Toggle Switches */

/* We can't test for a specific feature,
 * so we only target browsers with support for media queries.
 */
@media only screen {

	/* Checkbox
	 */
	.toggle {
		position: relative;
		padding: 0;
		margin-left: 100px;
	}

	/* Position the label over all the elements, except the slide-button
	 * Clicking anywhere on the label will change the switch-state
	 */
	.toggle label {
		position: relative;
		z-index: 3;
		
		display: block;
		width: 100%;
	}

	/* Don't hide the input from screen-readers and keyboard access
	 */
	.toggle input {
		position: absolute;
		opacity: 0;
		z-index: 5;
	}
	
	.toggle p {
		position: absolute;
		left: -100px;
		
		width: 100%;
		margin: 0;
		padding-right: 100px;
		
		text-align: left;
	}
	
	.toggle p span {
		font-size: 11px !important;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		
		display: block;
		width: 50%;
		margin-left: 100px;
		
		text-align: center;
	}
	
	.toggle p span:last-child {
		left: 50%;
	}

	.toggle .slide-button {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 4;
		
		display: block;
		width: 50%;
		height: 100%;
		padding: 0;
	}

	/* Radio Switch
	 */
	.switch {
		position: relative;
		padding: 0;
	}
	
	.switch input {
		position: absolute;
		opacity: 0;
	}
	
	.switch label {
		position: relative;
		z-index: 2;
		
		float: left;
		width: 50%;
		height: 100%;
		
		margin: 0;
		text-align: center;
	}

	.switch .slide-button {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0;
		z-index: 1;
		
		width: 50%;
		height: 100%;
	}

	.switch input:last-of-type:checked ~ .slide-button {
		left: 50%;
	}

	/* Switch with 3 items */
	.switch.switch-three label,
	.switch.switch-three .slide-button {
		width: 33.3%;
	}

	.switch.switch-three input:checked:nth-of-type(2) ~ .slide-button {	
		left: 33.3%;
	}

	.switch.switch-three input:checked:last-of-type ~ .slide-button {
		left: 66.6%;
	}
	
	/* Switch with 4 items */
	.switch.switch-four label,
	.switch.switch-four .slide-button {
		width: 25%;
	}

	.switch.switch-four input:checked:nth-of-type(2) ~ .slide-button {	
		left: 25%;
	}
	
	.switch.switch-four input:checked:nth-of-type(3) ~ .slide-button {	
		left: 50%;
	}

	.switch.switch-four input:checked:last-of-type ~ .slide-button {
		left: 75%;
	}
	
	/* Switch with 5 items */
	.switch.switch-five label,
	.switch.switch-five .slide-button {
		width: 20%;
	}

	.switch.switch-five input:checked:nth-of-type(2) ~ .slide-button {	
		left: 20%;
	}
	
	.switch.switch-five input:checked:nth-of-type(3) ~ .slide-button {	
		left: 40%;
	}
	
	.switch.switch-five input:checked:nth-of-type(4) ~ .slide-button {	
		left: 60%;
	}

	.switch.switch-five input:checked:last-of-type ~ .slide-button {
		left: 80%;
	}

	/* Shared */
	.toggle,
	.switch {
		display: block;
		height: 30px;
	}
	
	.switch *,
	.toggle * {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	.switch .slide-button,
	.toggle .slide-button {
		display: block;
		
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}
	
	.toggle label,
	.toggle p,
	.switch label {
		line-height: 30px;
		vertical-align: middle;
	}
	
	.toggle input:checked ~ .slide-button {
		right: 50%;
	}
	
	/* Outline the toggles when the inputs are focused */
	.toggle input:focus ~ .slide-button,
	.switch input:focus + label {
		outline: 1px dotted #888;
	}
	
	/* Bugfix for older Webkit, including mobile Webkit. Adapted from:
	 * http://css-tricks.com/webkit-sibling-bug/
	 */
	.switch, .toggle {
		-webkit-animation: bugfix infinite 1s;
	}
	
	@-webkit-keyframes bugfix { from { position: relative; } to { position: relative; } }


	/* Standalone Themes */


	/* Candy Theme
	 * Based on the "Sort Switches / Toggles (PSD)" by Ormal Clarck
	 * http://www.premiumpixels.com/freebies/sort-switches-toggles-psd/
	 */
	 
	.candy {
		background-color: #2d3035;
		
		color: #fff;
		font-weight: bold;
		text-align: center;
		text-shadow: 1px 1px 1px #191b1e;
			
		border-radius: 3px;	
		
		box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(255, 255, 255, 0.2);
	}

	.candy input:checked + label {
		color: #333;
		text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	}
		
	.candy .slide-button {
		border: 1px solid #333;

		background-color: #70c66b;
		
		background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
		background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
		background-image:     -ms-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
		background-image:      -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
		background-image:         linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
		
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
		
		border-radius: 3px;
	}

	.candy p {
		color: #333;
		
		text-shadow: none;
	}

	.candy span {
		color: #fff;
	}

	.candy.blue .slide-button {
		background-color: #0078e7;
	}

	.candy.yellow .slide-button {
		background-color: #f5e560;
	}

}
