.redactor_box {
	position: relative;
	border: 1px solid #ddd;
	overflow: visible;
}
.redactor_box, .redactor_box textarea {
	background-color: #fff;
}

body .redactor_air {
	position: absolute;
	border: 1px solid #ddd;
	border-bottom: none;
	z-index: 2;
}

/*
	Fullscreen
*/
body .redactor_box_fullscreen {
    left: 0;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 2000;
}

.redactor_box textarea {
	font-family: Menlo, Monaco, monospace, sans-serif;
	font-size: 13px;
	overflow: auto;
	resize: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	z-index: 1004;
	outline: none;
	border: none;
	width: 100%;
}

.redactor_editor,
.redactor_editor:focus,
.redactor_editor div,
.redactor_editor p,
.redactor_editor ul,
.redactor_editor ol,
.redactor_editor table,
.redactor_editor dl,
.redactor_editor blockquote,
.redactor_editor pre,
.redactor_editor h1,
.redactor_editor h2,
.redactor_editor h3,
.redactor_editor h4,
.redactor_editor h5 {
	font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif !important;
}

.redactor_editor code,
.redactor_editor pre {
	font-family: Menlo, Monaco, monospace, sans-serif !important;
}

.redactor_editor,
.redactor_editor:focus,
.redactor_editor div,
.redactor_editor p,
.redactor_editor ul,
.redactor_editor ol,
.redactor_editor table,
.redactor_editor dl,
.redactor_editor blockquote,
.redactor_editor pre {
	font-size: 15px !important;
	line-height: 1.45em !important;
}

.redactor_editor, .redactor_editor:focus {
	position: relative;
	outline: none;
	box-shadow: none !important;
	padding: 15px !important;
	margin: 0 !important;
	background: none;
	background: #fff !important;
	overflow: auto;
	white-space: normal;
}
.redactor_editor a {
	color: #15c !important;
	text-decoration: underline !important;
}

.redactor_editor object,
.redactor_editor embed,
.redactor_editor video,
.redactor_editor img {
	width: auto;
	max-width: 100%;
}
.redactor_editor video,
.redactor_editor img {
	height: auto;
}

.redactor_editor div,
.redactor_editor p,
.redactor_editor ul,
.redactor_editor ol,
.redactor_editor table,
.redactor_editor dl,
.redactor_editor blockquote,
.redactor_editor pre {
	box-shadow: none !important;
	background: none !important;
	margin: 0 !important;
	margin-bottom: 15px !important;
	border: none;
}
.redactor_editor iframe,
.redactor_editor object,
.redactor_editor hr {
	margin-bottom: 15px !important;
}
.redactor_editor blockquote {
	margin-left: 3em !important;
	font-style: italic !important;
	color: #777;
}
.redactor_editor ul,
.redactor_editor ol {
	padding-left: 2em !important;
}
.redactor_editor ul ul,
.redactor_editor ol ol,
.redactor_editor ul ol,
.redactor_editor ol ul {
	border: none;
	margin: 2px !important;
	padding: 0 !important;
	padding-left: 2em !important;
}
.redactor_editor dl dt { font-weight: bold; }
.redactor_editor dd { margin-left: 1em;}

.redactor_editor table {
	border-collapse: collapse;
	font-size: 1em !important;
}
.redactor_editor table td {
	border: 1px solid #ddd;
	padding: 5px !important;
	vertical-align: top;
}
.redactor_editor table thead td {
	border-bottom: 2px solid #000 !important;
	font-weight: bold !important;
}
.redactor_editor code {
	background-color: #d8d7d7 !important;
}
.redactor_editor pre {
	font-size: 90% !important;
	background: #f8f8f8 !important;
	border: 1px solid #ddd !important;
	border-radius: 3px !important;
	padding: 1em !important;
	white-space: pre;
	overflow: auto;
}
.redactor_editor hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

.redactor_editor h1,
.redactor_editor h2,
.redactor_editor h3,
.redactor_editor h4,
.redactor_editor h5 {
	color: #000;
	background: none;
	margin: 0 !important;
	padding: 0 !important;
	font-weight: bold;
}

.redactor_editor h1 {
	font-size: 36px !important;
	line-height: 40px !important;
	margin-bottom: 10px !important;
}
.redactor_editor h2 {
	font-size: 30px !important;
	line-height: 38px !important;
	margin-bottom: 15px !important;
}
.redactor_editor h3 {
	font-size: 24px !important;
	line-height: 30px !important;
	margin-bottom: 10px !important;
}
.redactor_editor h4 {
	font-size: 18px !important;
	line-height: 24px !important;
	margin-bottom: 10px !important;
}
.redactor_editor h5 {
	font-size: 1em !important;
	margin-bottom: 10px !important;
}

.redactor_editor.redactor_editor_wym {
	background: #f6f6f6 !important;
	padding: 5px 15px !important;
}
.redactor_editor_wym div,
.redactor_editor_wym p,
.redactor_editor_wym ul,
.redactor_editor_wym ol,
.redactor_editor_wym table,
.redactor_editor_wym dl,
.redactor_editor_wym pre,
.redactor_editor_wym h1,
.redactor_editor_wym h2,
.redactor_editor_wym h3,
.redactor_editor_wym h4,
.redactor_editor_wym h5,
.redactor_editor_wym blockquote {
	background-color: #fff !important;
	border: 1px solid #e4e4e4 !important;
	padding: 10px !important;
	margin: 10px 0 !important;
}
.redactor_editor_wym ul,
.redactor_editor_wym ol {
	padding-left: 2em !important;
}


/*
	TOOLBAR
*/
.redactor_toolbar {
	font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif !important;
	position: relative;
	left: 0;
	top: 0;
	margin: 0 !important;
	padding: 0 !important;
	padding-left: 2px !important;
	line-height: 0 !important;
	list-style: none !important;
	font-size: 0;
	background: #f1f1f1;
	background: -moz-linear-gradient(top,  #f1f1f1 0%, #e2e2e2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#e2e2e2));
	background: -webkit-linear-gradient(top,  #f1f1f1 0%,#e2e2e2 100%);
	background: -o-linear-gradient(top,  #f1f1f1 0%,#e2e2e2 100%);
	background: -ms-linear-gradient(top,  #f1f1f1 0%,#e2e2e2 100%);
	background: linear-gradient(to bottom,  #f1f1f1 0%,#e2e2e2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e2e2e2',GradientType=0 );
	overflow: hidden !important;
	height: 32px !important;
	border-bottom: 1px solid #bbb;
}
body .redactor_air .redactor_toolbar {
	padding-right: 2px !important;
}
.redactor_toolbar li {
	float: left !important;
	margin: 0 !important;
	padding: 3px 1px;
	padding-right: 0;
	list-style: none !important;
	outline: none;
}
.redactor_toolbar li.redactor_separator {
	float: left;
	height: 34px;
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #f1f1f1;
	padding: 0;
	margin: 0 2px 0 3px !important;
}
.redactor_toolbar li a {
	width: 25px;
	height: 25px;
	border: 1px solid transparent;
	* border: 1px solid #eee;
	display: block;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	zoom: 1;
	outline: none;
	text-decoration: none;
}
.redactor_toolbar li.redactor_btn_right {
	float: none;
	float: right !important;
}
.redactor_toolbar li a {
	display: block;
	text-indent: -9999px;
	background-image: url(toolbar.png);
	background-repeat: no-repeat;
	background-position: 0;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {

	.redactor_toolbar li a {
		background-image: url(toolbar@2x.png);
		background-size: auto 25px;
	}

}

.redactor_toolbar li a:hover {
	border-color: #98a6ba;
	background-color: #dde4ef;
	outline: none;
}
.redactor_toolbar li a:active, .redactor_toolbar li a.redactor_act {
	border-color: #b5b5b5;
	background-color: #ddd;
	outline: none;
}


/*
	BUTTONS
	step 25px
*/
body .redactor_toolbar li a.redactor_btn_html				{ background-position: 0px; }
body .redactor_toolbar li a.redactor_btn_formatting		    { background-position: -25px; }
body .redactor_toolbar li a.redactor_btn_bold				{ background-position: -50px; }
body .redactor_toolbar li a.redactor_btn_italic			    { background-position: -75px; }
body .redactor_toolbar li a.redactor_btn_deleted		 	{ background-position: -500px; }
body .redactor_toolbar li a.redactor_btn_unorderedlist 	    { background-position: -100px; }
body .redactor_toolbar li a.redactor_btn_orderedlist   	    { background-position: -125px; }
body .redactor_toolbar li a.redactor_btn_outdent	 		{ background-position: -150px; }
body .redactor_toolbar li a.redactor_btn_indent		 	  	{ background-position: -175px; }
body .redactor_toolbar li a.redactor_btn_image		 		{ background-position: -200px; }
body .redactor_toolbar li a.redactor_btn_video		 		{ background-position: -225px; }
body .redactor_toolbar li a.redactor_btn_file		 		{ background-position: -250px; }
body .redactor_toolbar li a.redactor_btn_table		 		{ background-position: -275px; }
body .redactor_toolbar li a.redactor_btn_link		 		{ background-position: -300px; }
body .redactor_toolbar li a.redactor_btn_fontcolor		 	{ background-position: -325px; }
body .redactor_toolbar li a.redactor_btn_backcolor		 	{ background-position: -350px; }
body .redactor_toolbar li a.redactor_btn_alignleft		  	{ background-position: -375px; }
body .redactor_toolbar li a.redactor_btn_aligncenter		{ background-position: -400px; }
body .redactor_toolbar li a.redactor_btn_alignright		  	{ background-position: -425px; }
body .redactor_toolbar li a.redactor_btn_justify		 	{ background-position: -450px; }
body .redactor_toolbar li a.redactor_btn_horizontalrule 	{ background-position: -475px; }
body .redactor_toolbar li a.redactor_btn_underline		 	{ background-position: -525px; }

body .redactor_toolbar li a.redactor_btn_fullscreen		 	{ background-position: -550px; }
body .redactor_toolbar li a.redactor_btn_normalscreen		{ background-position: -575px; }
body .redactor_toolbar li a.redactor_btn_clips		 		{ background-position: -600px; }

body .redactor_toolbar li a.redactor_btn_alignment	 		{ background-position: -625px; }

/*
	Toolbar classes
*/
.redactor_format_blockquote {
	font-style: italic;
	color: #666 !important;
	padding-left: 10px;
}
.redactor_format_pre {
	font-family: monospace, sans-serif;
}
.redactor_format_h1, .redactor_format_h2, .redactor_format_h3, .redactor_format_h4 {
	font-weight: bold;
}
.redactor_format_h1 {
	font-size: 30px;
	line-height: 36px;
}
.redactor_format_h2 {
	font-size: 24px;
	line-height: 36px;
}
.redactor_format_h3 {
	font-size: 20px;
	line-height: 30px;
}
.redactor_format_h4 {
	font-size: 16px;
	line-height: 26px;
}

/*
	DROPDOWN
*/
.redactor_dropdown {
	font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
	top: 28px;
	left: 0;
	z-index: 2004;
	position: absolute;
	width: 200px;
	background-color: #fff;
	border: 1px solid #ccc;
	font-size: 13px;
	-webkit-box-shadow: 0 2px 4px #ccc;
	-moz-box-shadow: 0 2px 4px #ccc;
	box-shadow: 0 2px 4px #ccc;
	line-height: 21px;
	padding: 10px;
}
.redactor_separator_drop {
	border-top: 1px solid #ddd;
	padding: 0 !important;
	line-height: 0;
	font-size: 0;
}
.redactor_dropdown a {
	display: block;
	color: #000;
	padding: 3px 5px;
	text-decoration: none;
}
.redactor_dropdown a:hover {
	color: #444 !important;
	text-decoration: none;
	background-color: #dde4ef;
}

/* ColorPicker */
.redactor_color_link {
	padding: 0 !important;
	width: 15px !important;
	height: 15px !important;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2) inset !important;
	border-radius: 4px !important;
	float: left !important;
	border: 2px solid #fff !important;
	font-size: 0;
}
.redactor_color_none {
	font-size: 11px;
}



/* MODAL */
#redactor_modal_overlay {
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50000;

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter:alpha(opacity=50);
	opacity: 0.50;

	background-color: #333 !important;
}

#redactor_modal {
	background: #f7f7f7;
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #e2e2e2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e2e2e2));
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#e2e2e2 100%);
	background: -o-linear-gradient(top,  #f7f7f7 0%,#e2e2e2 100%);
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#e2e2e2 100%);
	background: linear-gradient(to bottom,  #f7f7f7 0%,#e2e2e2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e2e2e2',GradientType=0 );
	text-shadow: 0 1px 0 #fff;
	padding: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	box-shadow: 0px 5px 60px #000;
  	border-radius: 3px;
  	z-index: 50001;
	font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px !important;
	color: #000;
}
#redactor_modal_header {
	padding: 11px 30px 0 15px;
	font-size: 12px;
	border-radius: 3px 3px 0 0;
	font-weight: bold;
}
#redactor_modal_content {
	padding: 20px 30px;

}
#redactor_modal_close {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 20px;
	width: 20px;
	height: 20px;
	color: #777;
	cursor: pointer;
}
#redactor_modal_close:hover {
	color: #000;
}
#redactor_modal label {
	margin: 10px 0 3px 0 !important;
	padding: 0 !important;
	float: none !important;
	display: block !important;
}
#redactor_modal textarea {
	margin-top: 4px;
	display: block;
}
.redactor_input  {
	width: 99%;
	font-size: 14px;
}
.redactor_modal_box {
	height: 350px;
	overflow: auto;
	margin-bottom: 10px;
}
#redactor_image_box {
	height: 270px;
	overflow: auto;
	margin-bottom: 10px;
}
#redactor_image_box_select {
	display: block;
	width: 200px;
	margin-bottom: 15px;
}
#redactor_image_box img {
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	max-width: 100px;
}
#redactor_tabs {
	margin-bottom: 18px;
}
#redactor_tabs a {
	display: inline-block;
	border: 1px solid #d2d2d2;
	padding: 4px 14px;
	font-size: 12px;
	background-color: #fff;
	text-decoration: none;
	color: #000;
	line-height: 1;
	border-radius: 10px;
	margin-right: 5px;
}
#redactor_tabs a:hover, #redactor_tabs a.redactor_tabs_act {
	background-color: #ddd;
	padding: 5px 15px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .4) inset;
	border: none;
	text-shadow: 0 1px 0 #eee;
	color: #777 !important;
	text-decoration: none !important;
}
#redactor_modal_footer {
	padding: 9px 30px 20px 30px;
	border-radius: 0 0 3px 3px;
	text-align: right;
}

#redactor_modal input[type="radio"],
#redactor_modal input[type="checkbox"] {
	position: relative;
	top: -1px;
}
#redactor_modal input[type="text"],
#redactor_modal input[type="password"],
#redactor_modal input[type="email"],
#redactor_modal textarea {
	position: relative;
	z-index: 2;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	height: 23px;
	border: 1px solid #ccc;
	margin: 0;
	padding: 1px 2px;
	background-color: white;
	color: #333;
	font-size: 13px;
	line-height: 1;
	border-radius: 1px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
	-webkit-transition: border 0.3s ease-in;
	-moz-transition: border 0.3s ease-in;
	-ms-transition: border 0.3s ease-in;
	-o-transition: border 0.3s ease-in;
	transition: border 0.3s ease-in;
}
#redactor_modal textarea {
	line-height: 1.4em;
}
#redactor_modal input:focus,
#redactor_modal textarea:focus {
	outline: none;
	border-color: #5ca9e4;
	box-shadow: 0 0 0 2px rgba(70, 161, 231, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

.redactor_modal_btn {
	margin-left: 8px;
	position: relative;
	cursor: pointer;
	outline: none;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
	line-height: 1;
	font-size: 12px;
	font-weight: normal;
	padding: 6px 16px 5px 16px;
	border-radius: 4px;
	background-color: #f3f3f3;
	background-image: -moz-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: -ms-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e1e1e1));
	background-image: -webkit-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: -o-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: linear-gradient(top, #ffffff, #e1e1e1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1', GradientType=0);
	border: 1px solid #ccc;
	border-bottom-color: #aaa;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	text-shadow: 0 1px 0px #ffffff;
	color: #000;
}
.redactor_modal_btn:hover {
	color: #555;
}
.redactor_modal_btn:hover {
	filter: none;
	background: none;
	background: #f3f3f3;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.8);
	text-decoration: none;
}


/* Drag and Drop Area */
.redactor_droparea {
	position: relative;
    width: 100%;
    margin: auto;
    margin-bottom: 5px;
}
.redactor_droparea .redactor_dropareabox {
	z-index: 1;
	position: relative;
    text-align: center;
    width: 99%;
    background-color: #fff;
    padding: 60px 0;
    border: 2px dashed #bbb;
}
.redactor_droparea .redactor_dropareabox, .redactor_dropalternative {
    color: #555;
    font-size: 12px;
}
.redactor_dropalternative {
	margin: 4px 0 2px 0;
}
.redactor_dropareabox.hover {
    background: #efe3b8;
    border-color: #aaa;
}
.redactor_dropareabox.error {
    background: #f7e5e5;
    border-color: #dcc3c3;
}
.redactor_dropareabox.drop {
    background: #f4f4ee;
    border-color: #e0e5d6;
}
