.pure-form input {
    padding: 8px !important;
    margin-bottom: 10px !important;
    font-size: 12px !important;
}

.pure-form button {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans !important;
} 

.pure-button-xsmall {
    font-size: 70%;
}

.pure-button-small {
    font-size: 85%;
}

.pure-button-large {
    font-size: 110%;
}

.pure-button-xlarge {
    font-size: 125%;
}