.image {
	background: white;
	border: 1px solid #DDD;
	padding: 5px;
	margin-bottom: 10px;
}

.container {
	width: 1200px;
}

.avatar {
	  	width: 60px;
		height: 60px;
		display: block;
		float: left;
	  }
	
p.comment-post {
	clear:none;
}	

div.comment-block {
	padding: 5px;
	margin-left: 70px;
}
.author {
	font-weight:bold;
	border-radius: 4px;
	-moz-border-radiu: 4px;
	-webkit-border-radius: 4px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
