body {
    background:url("../../../images/default/bg.png") repeat;
}

/** Mobile View **/
@media (max-width: 767px) {
    body {
        padding: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .main {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/** Header **/
header .header-top-bar {
    min-height: 7px;
    padding-bottom: 0px;
    background: #303030;
    border-bottom: 1px solid #444;
}

header .header-middle-bar {
	margin-top: 20px;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}

header .header-middle-bar .navbar .brand {
	margin-top: 8px;
}

header .header-middle-bar .navbar-inner {
	min-height: 55px;
	border-radius: 5px;
}

header .header-middle-bar .navbar .nav {
	margin: 8px 10px 0 0;
}

header .header-middle-bar .navbar .nav > li {
	border-right: 1px solid #cacaca;
}

header .header-middle-bar .navbar .nav > li:first-child {
	border-left: 1px solid #cacaca;
}

header .header-middle-bar .navbar .nav > li:last-child {
	border-right: none;
}

/** Main **/

main .main-body {
	margin-left: -18px;
}

main .image-container {
	border-bottom: 1px solid #cacaca;
	margin-bottom: 15px;
}

main .image-viewport {
	overflow: hidden;
	border: 10px solid #FFFFFF;
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
	max-height: 2000px;
	transition: all 1s ease 0s;
	max-width: 900px;
	width: 77%;
	margin-left: auto;
	margin-right: auto;
	max-height: 300px;
	margin-bottom: 20px;
}

main .sidebar .well, main .infinite_navigation {
	padding-top: 10px;
	background: #ffffff;
	border: 1px solid #dddddd;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin: 0 0 20px 0;
	float: left;
	width: 100%;
	padding-bottom: 5px;
}

main .infinite_navigation {
	position: relative;
	min-height: 15px;	
}

main .sidebar .well h4 {
	font-size: 16px;
	text-transform: uppercase;
	padding-bottom: 4px;
	margin-bottom: 6px;
	border-bottom: 1px solid #cacaca;
}

main .sidebar .well h4:before {
	content: "/// ";
	color: #7daf27;
}

main .sidebar .well ul.nav li {
	margin-left: 15px;
}

main .sidebar .well ul.nav li a {
	display: inline-block;
}

main .sidebar .well ul.nav li:before {
    content: "» ";
    color: #7daf27;
    position: relative;
	top: -2px;
}


main  .post {
	background: #ffffff;
	border: 1px solid #dddddd;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin: 0 0 20px 0;
	float: left;
	width: 100%;
	border-top: 0px;	
}

main  {
	color: #333;
}

main  .post .post-inner {
	padding: 15px;
	padding-top: 0px;
	position: relative;
}

main  .post .post-header h3 {
	margin-top: 0px;
	font-size: 16px;
}

main  .post .post-header h3 a {
	color: #333;
}

main  .post .blog-meta, main  .post .blog-meta a {
	color:#aaa;
}

main  .post .read-more-icon span, main .infinite_navigation #more span {
	background: url("../../../images/default/arrow-right.png") no-repeat scroll center center #222;
}

/*blog meta*/
main  .post .blog-meta {
	float:left;
	display: block;
	position: relative;
	top: 11px;
	width: 95%;
	font-size: 12px;
	font-weight: normal;
}
main  .post .blog-meta.inline {
	top: -20px;
}

main  .post .read-more-icon, main .infinite_navigation #more {
	transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	-webkit-transition: 1s;
	width: 30px; overflow: hidden;
	position: absolute;
	bottom: -25px;
	right:0;
	outline: none;
	z-index: 100;
	display:block;
	line-height:30px;
	height:30px;
	width:30px;
	overflow: hidden;
	background:#222;
	color:#fff;
}

main .infinite_navigation #more {
	bottom: -2px;
	width: 100px;
	border-bottom: 1px solid #222;
}

main  .post .read-more-icon span, main .infinite_navigation #more span {
	display:block;
	line-height:30px;
	height:30px;
	width:30px;
	position: absolute;
	bottom: 0;
	right:0;
}

main  .post .read-more-icon strong, main .infinite_navigation #more strong {
	display:block;
	line-height:30px;
	height:30px;
	font-size: 10px;
	padding:0 30px 0 10px;
	text-decoration: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

main  .post .read-more-icon:hover, main .infinite_navigation #more:hover {
	background:#222;
	color:#fff;
	transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	-webkit-transition: 1s;
	width: 100px;
	text-decoration: none;
}

main  .post .read-more-icon:hover strong, main .infinite_navigation #more:hover strong {
	display:block;
}

/** Footer **/
footer a, footer a:visited, footer a:active {
    color: #999; 
}

footer a:hover {
    color: #7daf27;
}

footer ul.nav li:before {
    content: "» ";
    color: #7daf27;
    position: relative;
	top: -2px;
}

footer p, footer ul {
    margin-bottom: 10px;
    color: #777;
    font-size: 12px;
    line-height: 14px;
}

footer ::selection {
    background: #7daf27;
    color: #fff;
}

footer h5 {
    margin-bottom: 5px;
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
}

footer h5:before {
	content: "/// ";
    color: #7daf27;
}

footer .well {
    background-color: #333;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 13px;
    color: #999;
}

footer .container {
    padding: 0 10px;
}

footer .footer-top-block {
    padding: 20px 0px;
    background: #3a3a3a;
    padding-bottom: 0px;
    color: #FFF;
}

footer .footer-main-block {
    padding: 30px 0px;
    padding-bottom: 10px;
    background: #303030;
    color: #cacaca;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}

footer .footer-main-block .inner-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

footer .footer-bottom-block {
    padding: 3px 0px;
    background: #3a3a3a;
    color: #999;
    font-size: 11px;
    border-bottom: 5px solid #000;
}

footer .footer-bottom-block .cii-menu ul {
    font-size: 11px;
    margin: 0px;
}

footer .footer-bottom-block .cii-menu ul li {
    display: inline;
}

footer .footer-bottom-block .cii-menu ul li:after {
    content: " / ";
}

footer .footer-bottom-block .cii-menu ul li:last-child:after {
    content: "";
}

footer .nav > li > a {
    display: inline;   
}

footer ul.footer-nav li:before {
    content: "";
}
