body {
    background:url(../../../images/default/bg.png) repeat;
}

/** Mobile View **/
@media (max-width: 767px) {
    body {
        padding: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .main {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/** Header **/
header {
    margin-top: 10px;
    margin-bottom: 25px;
}

/** Footer **/
footer a, footer a:visited, footer a:active {
    color: #999; 
}

footer a:hover {
    color: #7daf27;
}

footer ul.nav li:before {
    content: "» ";
    color: #7daf27;
}

footer p, footer ul {
    margin-bottom: 10px;
    color: #777;
    font-size: 12px;
    line-height: 14px;
}

footer ::selection {
    background: #7daf27;
    color: #fff;
}

footer h5 {
    margin-bottom: 5px;
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
}

footer h5 .colored-header {
    color: #7daf27;
}

footer .well {
    background-color: #333;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 13px;
    color: #999;
}

footer .container {
    padding: 0 10px;
}
footer .footer-top-block {
    padding: 20px 0px;
    background: #3a3a3a;
    padding-bottom: 0px;
    color: #FFF;
}

footer .footer-main-block {
    padding: 30px 0px;
    padding-bottom: 10px;
    background: #303030;
    color: #cacaca;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}

footer .footer-main-block .inner-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

footer .footer-bottom-block {
    padding: 3px 0px;
    background: #3a3a3a;
    color: #999;
    font-size: 11px;
    border-bottom: 5px solid #000;
}

footer .footer-bottom-block .cii-menu ul {
    font-size: 11px;
    margin: 0px;
}

footer .footer-bottom-block .cii-menu ul li {
    display: inline;
}

footer .footer-bottom-block .cii-menu ul li:after {
    content: " / ";
}

footer .footer-bottom-block .cii-menu ul li:last-child:after {
    content: "";
}

footer .nav > li > a {
    display: inline;   
}

footer ul.footer-nav li:before {
    content: "";
}
