#ciims_comments {
	width: 100%;
}

#ciims_comments .comment:last-child {
	border-bottom: none;
}

#ciims_comments h3 {
	margin-top: 0px;
	padding-top: 0px;
}

.mod_container .fa {
	transition: all 0.5s ease-in-out;
}

.mod_container .orange {
    color: #f67d42;
	transition: all 0.5s ease-in-out;
}

.comment.template {
	display: none;
}

.comment {
	border-bottom: 1px solid #eee;
	padding-top: 5px;
}

.comment_messages {
	height: 45px;
	display:none;
}

.comment_messages .alert {
	width: 94%;
	float: left;
	margin:0 auto;
	text-align:center;
	margin-bottom: 10px;
}

.comment .comment_person {
	width: 40px;
	padding: 5px;
}

.comment .comment_person img {
	border-radius: 2px;
}

.comment .comment_body {
	width: 89%;
}

.comment .comment_body .comment_body_byline {
	font-size: 12px;
	margin-top: 5px;
}

.comment .comment_body .comment_body_byline a {
	text-decoration: none;
}

.comment .comment_body .comment_body_byline .author {
	font-weight: bold;
}

.comment .comment_body .comment_body_inner {
	font-size: 14px;
}

.comment .comment_box {
	height: auto;
	transition: all 0.5s ease-in-out;
	height: 35px;
	float: left;
	width: 100%;
}

.comment .comment_box.pure-focus {
	height: 100px;
	font-size: 12px;
	transition: all 0.5s ease-in-out;
}

.comment .comment_box.error {
	border: 1px solid rgb(202, 60, 60);
	transition: all 0.5s ease-in-out;
}

.comment .comment_button {
	margin-top: 10px;
}

.comment .cancel_button {
	margin-top: 10px;
	margin-right: 10px;
}